{% extends 'base.html' %}

{% block body %}
  <h1>Forgot Password</h1>
  <form class="" method="post">
    {% if otp_generated is not True %}
      <table>
        {% for field in otpform %}
          <tr>
            <th>{{ field.label }} :</th>
            <td>{{ field }}</td>
          </tr>
        {% endfor %}
      </table>
      <button type="submit" name="getotp">GET OTP</button>
    {% endif %}
    {% if otp_generated %}
      <table>
        {% for field in updateform %}
          <tr>
            <th>{{ field.label }} :</th>
            <td>{{ field }}</td>
          </tr>
        {% endfor %}
      </table>
      <button type="submit" name="update-password">UPDATE PASSWORD</button>
    {% endif %}
  </form>
{% endblock %}
