@media only screen and (max-width: 570px) {
    .flexChild{
        width:100% !important;
    }
    .mainDiv{
        display: none;
    }
    .contentDiv{
        width: 730px;
    }
    .flexContainer{
        flex-direction: column;
    }
    .flexChild{
        width:100%;
    }
    .bottomFlex{
        flex-direction: column;
        width: 100% !important;
        height: 900px !important;
    }
    .bottomFlexChild{
        width: 100%;
        padding: 20px;
        border-left: 0px !important;
    }
    .one{
        font-size: 60px !important;
    }
    .one1{
        padding-left: 50px !important;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .imgDiv1{
        background-image: none !important;
    }
    .mainHead{
        font-weight: 800 !important;
        font-size: 35px !important;
    }
    .letterSpacing{
        font-family: unset !important;
        font-size: 30px;
    }
    .aboutme {
        padding-left: 50px !important;
    }
    .aboutP {
        letter-spacing: 0.1em !important;
        font-size: 26px !important;
        padding-left: 50px !important;
        padding-right: 50px;
        line-height: 1.6;
    }
    .button{
        font-size: 30px !important;
        height: 80px !important;
        width: 50% !important;
    }.button1{
        border-radius: 3px !important;
        height: 90px !important;
        width: 250px !important;
        font-size: 30px !important;
    }
    .footer{
        width: 750px;
    }
    .footFlex{
        flex-flow: column;
    }
    .footFlexChild {
        width: 100% !important;
    }
    .pad {
        padding-left: 50px !important;
    }
    .monoFont {
        font-size: 30px !important;
    }
    .icon{
        width: 60px;
        height: 50px;
    }
    form {
        padding-top: 50px !important;
        padding-left: 50px !important;
        padding-right: 50px;
        width: 85% !important;
    }
    .inputs,textarea {
        height: 70px !important;
        border: 5px solid black !important;
        font-size: xx-large;
        padding-left: 10px;
    }
    .button2{
        font-size: 30px !important;
        height: 80px !important;
        width: 103% !important;
    }
    .align{
        float: inherit !important;
    }
    .amb {
        font-size: 30px !important;
    }
    .success {
        font-size: 100px !important;
    }
    .font {
        font-size: 28px;
    }
  }

body{
    font-family: sans-serif;
    margin: 0px;
}
.contentDiv{
    width:100%;
}
.svg{

}
.navBar{
    list-style-type: none;
    padding-right: 100px;
    overflow: hidden;
}
.navBar a{
    float: right;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    color:black;
}
.navBar a:hover,active{
    color:rgb(135, 213, 250);
}
.mainDiv{

    line-height: 50px;
}
.button, .button2{
  cursor: pointer;
}
.flexContainer{
    display:flex;
    flex-wrap: nowrap;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
}

.position{
    position: fixed;
    height: 100px;
}
.flexChild{
    width:50%;
    margin: 10px;
    text-align: center;
    background-color: white;
}
.mainHead{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.18em;
}
.font{
    font-family: monospace;
    letter-spacing: 0.18em;
}
.fontFamily{
    font-family: sans-serif;
}
.monoFont{
    font-family: monospace;
    font-size: 15px;
}
.letterSpacing{
    letter-spacing: 1px;
}
.imgDiv{
    /*background-image: url(../images/cctv-for-business.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width:100%;
    height: 100%;
}
.imgDiv1{
    background-image: url(../images/network-cctv-camera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width:100%;
    height: 100%;
}

.success{
    font-size: 110px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.18em;
}
.amb{
    font-size: 17px;
    letter-spacing: 0.18em;
    text-align: center;
}
.button, .button2{
    height: 40px;
    width:150px;
    background-color: black;
    color: white;
    border: black;
    text-align: center;
    align-self: center;
    font-family: monospace;
    font-size: 15px;
    letter-spacing: 0.02em;
}
.button2{
    height: 40px;
    width:150px;
    background-color: black;
    color: white;
    border: black;
    text-align: center;
    align-self: center;
    font-family: monospace;
    font-size: 15px;
    letter-spacing: 0.02em;
}
.button2{
    height: 40px;
    width:150px;
    background-color: black;
    color: white;
    border: black;
    text-align: center;
    align-self: center;
    font-family: monospace;
    font-size: 15px;
    letter-spacing: 0.02em;
}
.align{
    float: right;
    padding-right: 0px;
}
.button:hover{
    color:black;
    background-color: inherit;
    border:2px solid black;
}
.button1{
    background-color: rgb(34, 199, 199);
    color: white;
    border: 2px solid rgb(34, 199, 199);
    border-radius: 1px;
    height: 40px;
    width:100px;
}
.button1:hover{
    background-color: rgb(16, 153, 153);
    border: 2px solid rgb(16, 153, 153);
}


.button2:hover{
    color:black;
    background-color: inherit;
    border:2px solid black;
}
.empty{
    height: 350px;
}
.empty1{
    height: 350px;
}
.aboutme{
    font-size: 45px;
    line-height: 0.2em;

    padding-left: 200px;
}
.aboutP{
    display: inline-block;
    letter-spacing: 0.14em;
    font-size: 14px;
    text-align: start;
    padding-left: 200px;
}
.fontSize{
    letter-spacing: 0.14em;
    font-size: 14px;
}
.padding{
    padding: 10px;
}
#imgProp{
    margin: 0px;

}
.imgProp1{
    height: 100%;
    width:100%;
}
.one{
    letter-spacing:0.1em;
    line-height: 1.2em;
    font-size: 42px;
    text-align: left;
    font-weight: 900;
}
.one1{
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.bottomFlex{
    display:flex;
    align-items: center;
    width: 70%;
    background-color: white;
    height: 400px;
}
.bottomFlexChild{
    width: 50%;
    padding: 20px;
    border-left: 1px solid darkgrey;
}
.serviceButton{
    padding-top: 70px;
    padding-bottom: 150px;
}
.footer{
    padding: 0px;
    margin: 0px;
    background-color: #00cccc;
}
.footFlex{
    display:flex;
    background-color: #00cccc;
    width:100%;

}
.footFlexChild{
    width:50%;

}
.inputs{
    width:100%;
    height: 30px;
    background-color: #00cccc;
    border:2px solid black;
}
.form-control{
  padding-left: 100px;
}
.input-style{
  border-radius: 8px 8px 8px 8px;
  font: normal normal normal 15px/1.4em futura-lt-w01-light,sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 0px;
  background-color: rgba(239, 240, 246, 1);
  box-sizing: border-box !important;
  color: #7387E8;
  border-style: solid;
  border-color: rgba(239, 240, 246, 1);
  padding: 3px;
  margin: 0px;
  max-width: 90%;
  height: 35px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-overflow: ellipsis;
}
textarea{
    width:100%;
    background-color: #00cccc;
    border:2px solid black;
}
.inputs:hover,textarea:hover{
    background-color: #c9e2e2;
}

form{
    padding-top: 100px;
    padding-left: 0px;
    width:100%;
}
.pad{
    padding-left: 25%;
    padding-bottom: 1px;
}
/* slider css start */
    .imgDiv{
    /* background-image: url(../images/cctv-for-business.jpg); */

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width:100%;
    height: 100%;
    }
    .slider {
    margin-top: auto;
    /*position: relative; */
    background-size: 100% 100%;
    height: 100%;

    }
    .mySlides {
    width: 100%;

    }
    .prev,
    .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }
    .prev{
    float: left;
    }

    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    float: right;
    }

    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    }

    .active,
    .dot:hover {
    background-color: #717171;
    }
    .item2{
      padding-top: 100px;
    height:650px;
    width: 100%;
    }
    .slideText{
    padding-top: 100px;
    }
    .success{
    font-size: 110px;
    font-family: sans-serif;
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.18em;

    }
    .amb{
    font-size: 17px;
    letter-spacing: 0.18em;
    text-align: center;

    }
    .button, .button2{
    cursor: pointer;
    height: 40px;
    width:150px;
    background-color: black;
    color: white;
    border: black;
    text-align: center;
    align-self: center;
    font-family: monospace;
    font-size: 15px;
    letter-spacing: 0.02em;
    }
    .button:hover{
    color:black;
    background-color: inherit;
    border:2px solid black;
    }
    /* Slider css end */
