<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <thead>

      </thead>
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{name}}</td>
        </tr>
        <tr>
          <th>Mobile</th>
          <td>{{mobile}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{Email}}</td>
        </tr>
        <tr>
          <th>Message</th>
          <td>{{message}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
