{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/camStyles.css' %}">
<script type="text/javascript">
  $(.navBar).localScroll();
</script>
</head>
<body>
    <!--Header-->
    <div>
    <div class="flexContainer position">
        <div class="flexChild">
            <div class="mainHead">AYYAPPA TECH</div>
            <div class="font">SOLUTIONS</div>
        </div>
        <div class="mainDiv flexChild">
            <ul class="navBar">
                <li><a href="#contact">Contact</a></li>
                <!--<li><a href="#">Blog</a></li>-->
                <li><a href="#services">Services</a></li>
                <li><a href="#aboutme">About</a></li>
                <li><a href="#" class="active">Home</a></li>
            </ul>
        </div>
    </div>
    </div>
<!--body-->
<div class="contentDiv">
    <div class="imgDiv">
        <div class="empty"></div>
        <br>
        <div class="success">SUCCESS</div><br>
        <div class="amb"><strong>KEEP AN EYE ON YOUR HOME OR BUSINESS</strong></div>
        <div class="amb"><strong>VIA SMART PHONE, TABLET OR PC</strong></div>
        <br>
        <center><button onclick="location.href='#contact';" class="button" type="submit">Get Free Quote</button></center>
        <div class="empty"></div>
    </div>
    <div class="flexContainer">
        <div class="flexChild">
            <h4 class="aboutme one" id="aboutme">ABOUT ME</h4>
            <p class="aboutP">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page.</p> ​
            <p class="aboutP">This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide.</p><br>
            <center><button class="button" type="submit">Read More</button></center>
        </div>
        <div class="flexChild"  id="imgProp">
            <img src="{% static 'images/businessman.png' %}" class="imgProp1" alt="Happy young businessman"/>
        </div>
    </div>
    <div class="imgDiv1" id="services">
        <div class="one1">
            <div class="one">HOW I CAN</div>
            <div class="one">HELP YOU</div>
        </div>
        <center>
        <div class="bottomFlex">
            <div class="bottomFlexChild">
                <div class="mainHead">SELF-IMPROVEMENT</div>
                <div class="fontFamily padding letterSpacing">45 min | $90.00</div>
            </div>
            <div class="bottomFlexChild">
                <p class="fontFamily letterSpacing">Describe your service here. What makes it great? Use short catchy text to tell people what you offer, and the benefits they will receive. A great description gets readers...</p>
                <center><button type="submit" class="button1">Book It</button></center>
            </div>

        </div>
        <div class="serviceButton"><button type="submit" class="button">More Services</button></div>
        </center>
    </div>
    </div>
    <!--Footer-->
    <div class="footer">
        <div class="footFlex">
                <div class="footFlexChild">
                    <div class="mainHead pad">CONTACT</div>
                    <div class="pad monoFont">
                        <p><span>Address Line1</span></p>
                        <p><span>Address Line2</span></p>
                    </div>
                    <div class="pad monoFont">
                        <p style="display:none"><span>Tel: </span></p>
                    </div>
                    <div class="pad monoFont">
                        <p><span>Mobile: 744 850 0193</span></p>
                    </div>
                    <a class="pad monoFont" href="mailto:sara3hema@gmail.com">sara3hema@gmail.com</a><br><br>
                    <div class="pad">
                        <a href="http://www.facebook.com/"><img src="{% static 'images/fb.webp' %}" class="icon" alt="Facebook icon"></a>&nbsp;&nbsp;&nbsp;
                        <a href="http://www.twitter.com/"><img src="{% static 'images/twitter.webp' %}" class="icon" alt="Twitter icon"></a>&nbsp;&nbsp;&nbsp;
                        <a href="https://instagram.com//"><img src="{% static 'images/instagram.webp' %}" class="icon" alt="Instagram icon"></a>&nbsp;&nbsp;&nbsp;
                        <a href="https://www.youtube.com/"><img src="{% static 'images/youtube.webp' %}" class="icon" alt="YouTube icon"></a>
                    </div>
                </div>
                <div>
                    <form action="{% url 'homeapp:contact' %}" class="form-control" id="contact" method="POST">
                      {% csrf_token %}
                      {% for field in form %}
                      {{field}}<br><br>
                      {% endfor %}
                      <div>
                        {% for message in messages %}
                          <div >
                            {{ message }}
                          </div>
                        {% endfor %}
                      </div>
                      <div class="align"><button class="button2" type="submit">Submit</button>
                        <style>
                          .align{
                            padding-right: 50px;
                          }
                          .button2{border-radius: 8px 8px 8px 8px;}
                        </style>
                      </div>
                    </form>
                </div>

        </div><br>
        <div class="pad monoFont">©2023 by Ayyappa cctv Business.</div><br><br>
    </div>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js" charset="utf-8"></script>
</body>
</html>
